html,
body {
  height: 100%;
  width: 100%;
  font-size: 0.8rem;
  font-family: 'PragmataPro' !important;
}

.container {
  width: 100%;
  display: column;
}

.array-item,
.body-div {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.simpleLink {
  text-decoration: underline !important;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.rightLink {
  justify-content: flex-end;
  display: flex;
  width: 100%;;
}

.addEditLink {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}

.point {
  cursor: pointer;
}

.customNavBar {
  margin: 0.1rem;
}

.tabsList {
  margin-top: 1rem;
}

.navbar-light .navbar-brand {
    color: white !important;
    font-size: 2rem;;
}

.navbar-default .navbar-brand {
  color: #468362;
}

.navBar-txt {
  color: #3d5b94;
  padding-right: 20px;
}

.filterSection {
  background-color: #d1ecf1;
  padding: 1rem;
  border-radius: 5px 5px 5px 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #bee5eb;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 1px solid #6dcd9a;
  border-bottom: 0px;
  background-color: #ecf8f1;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #bee5eb !important;
  border-color: #fff !important;
}

.rst__moveHandle,
.rst__loadingHandle {
  background-color: #db853d;
  border-radius: 10px 0px 0px 10px;
  color: white;
}

div.rst__rowContents {
  border-radius: 0px 10px 10px 0px;
}

div.rst__moveHandle {
  background-color: #db853d;
}

.rstcustom__rowLabel {
  cursor: pointer;
}

.componentInfoIcon {
  color: #3d93db;
  cursor: pointer;
  margin-left: 5px;
}

.mainBox {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  padding: 0 0.5rem;
  margin-left: 64px;
  width: 100%;
}

.mainBoxNotLogged {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  padding: 0 0.5rem;
  width: 100%;
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#db3d44 0,#db3d44 100%) !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white !important;
}

.rst__rowContents {
  border: 1px solid #db853d;
}

.rst__moveHandle,
.rst__loadingHandle {
  border: 1px solid #db853d;
}

.textarea-noBorder {
  border: 0px;
}

.propsStyle {
  color: #db853d !important;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  border-bottom: 1px solid #db853d;
}

.blue_title {
  color: #3d93db;
  font-size: 1rem;
}

.red_title {
  color: #db3d44;
  font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

// .ace_editor {
//   min-width: 650px;;
// }

.linkConrtainer {
  display: flex;
  flex-direction: row;
}

.alertStyle {
  margin: 1rem;
}

.importContainer {
  display: flex;
  justify-content: flex-end;
}

.login-form {
  padding: 10rem;
  display: flex;
  flex-direction: column;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  min-width: 20%;
}

.nav-tabs .nav-link {
  min-width: 20%;
}

.nav-tabs {
  margin-bottom: 2rem !important;
}

.nav-tabs .nav-link {
  font-size: 1.2rem !important;
}

.row {
  display: flex;
}

.columnTree {
  flex: 60%;
  padding: 1%;
}

.columnAce {
  flex: 35%;
  padding: 1%;
}

.column50 {
  flex: 45%;
  padding: 1%;
  min-width: 300px;
}

.wrapper {
  padding: 1rem;
}