html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.container {
  width: 100%;
  display: column;
}

.array-item,
.body-div {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.simpleLink {
  text-decoration: underline !important;
  cursor: pointer;
}

.addEditLink {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}

.middle20 {
  padding-left: 20%;
  padding-right: 20%;
}

.customNavBar {
  margin: 0.1rem;
}

.tabsList {
  margin-top: 1rem;
}

.navbar-default .navbar-brand {
  color: #468362;
}

.navBar-txt {
  color: #3D5B94;
  padding-right: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 1px solid #6dcd9a;
  border-bottom: 0px;
  background-color: #ECF8F1;
}

.rst__moveHandle, .rst__loadingHandle {
  background-color: #92D4E8;
}

div.rst__rowContents {
  border-radius: 0px 10px 10px 0px;
}

div.rst__moveHandle {
  background-color: #92D4E8;
}

.rstcustom__rowLabel {
  cursor: pointer;
}



// .btn-add > i {
//   display: none;
// }

// .btn-add::after {
//   content: "Add";
// }

// .array-item-remove > i {
//   display: none;
// }

// .array-item-remove::after {
//   content: "Remove";
// }

// .array-item-move-down > i {
//   display: none;
// }

// .array-item-move-up > i {
//   display: none;
// }


.mainBox {
  position: relative;
  overflow: hidden;
  -webkit-transition: all .15s;
  transition: all .15s;
  padding: 0 20px;
  margin-left: 64px;
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7d8d9;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7d8d9 !important;
}