html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}
.array-item,
.body-div {
  width: 100%
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.simpleLink {
  text-decoration: underline !important;
  cursor: pointer;
}

.addEditLink {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}


// .btn-add > i {
//   display: none;
// }

// .btn-add::after {
//   content: "Add";
// }

// .array-item-remove > i {
//   display: none;
// }

// .array-item-remove::after {
//   content: "Remove";
// }

// .array-item-move-down > i {
//   display: none;
// }

// .array-item-move-up > i {
//   display: none;
// }