html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.container {
  width: 100%;
  display: column;
}

.array-item,
.body-div {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.simpleLink {
  text-decoration: underline !important;
  cursor: pointer;
  display: flex;
}

.rightLink {
  justify-content: flex-end;
}

.addEditLink {
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}

.point {
  cursor: pointer;
}

.customNavBar {
  margin: 0.1rem;
}

.tabsList {
  margin-top: 1rem;
}

.navbar-default .navbar-brand {
  color: #468362;
}

.navBar-txt {
  color: #3d5b94;
  padding-right: 20px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 1px solid #6dcd9a;
  border-bottom: 0px;
  background-color: #ecf8f1;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #e68973 !important;
  border-color: #fff !important;
}

.rst__moveHandle,
.rst__loadingHandle {
  background-color: #db853d;
  border-radius: 10px 0px 0px 10px;
}

div.rst__rowContents {
  border-radius: 0px 10px 10px 0px;
}

div.rst__moveHandle {
  background-color: #db853d;
}

.rstcustom__rowLabel {
  cursor: pointer;
}

.componentInfoIcon {
  color: #3d93db;
  cursor: pointer;
  margin-left: 5px;
}

.mainBox {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  padding: 0 20px;
  margin-left: 64px;
  width: 100%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: white !important;
}

.rst__rowContents {
  border: 1px solid #db853d;
}

.rst__moveHandle,
.rst__loadingHandle {
  border: 1px solid #db853d;
}



.container__editor {
  font-size: 12px;
  font-variant-ligatures: common-ligatures;
  background-color: #fafafa;
  border-radius: 3px;
  counter-reset: line;
  min-height: 30rem;
}

.container_editor_line_number:before {
  //position: absolute;
  right: 100%;
  margin-right: 10px;
  text-align: right;
  opacity: .3;
  user-select: none;
  counter-increment: line;
  content: counter(line);
}

.container__editor textarea {
  outline: 0;
}

.textarea-noBorder {
  border: 0px;
}
